.home-posts-article {
    border-top: 1px solid var(--vp-c-divider);
    justify-content: space-between;
    padding: 10px 0;
}

.home-posts-article p {
    margin: 10px 0;
}

.home-posts-article .home-posts-article-title {
    color: var(--vp-c-text-1);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none !important;
}

.zen-kaku-gothic-new-regular {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.m-plus-1-code-regular {
    font-family: 'M PLUS 1 Code', monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root {
    --vp-font-family-base: 'Zen Kaku Gothic New', sans-serif;
    --vp-font-family-mono: 'M PLUS 1 Code', monospace;
}